sudo: required
language: node_js
node_js:
    - 'node'
    - '8'
    - '6'
install:
    - npm install --global npm@4
    - npm install
before_script:
    - sudo chown root /opt/google/chrome/chrome-sandbox
    - sudo chmod 4755 /opt/google/chrome/chrome-sandbox
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
script:
    - npm run ci
addons:
    chrome: stable
deploy:
    provider: pages
    skip-cleanup: true
    local-dir: typedoc
    github-token: $GITHUB_TOKEN
    keep-history: true
    on:
        branch: master